@import url('https://fonts.googleapis.com/css2?family=K2D:wght@600;700;800&family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
background-image:linear-gradient(rgba(0,0, 0, 0.4), rgba(0, 0, 0, 0.5)),url(./images/clearSkyBg.jpg);
background-repeat: no-repeat;
background-size:cover;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
body #wrapper{
    max-width: 90%;
    text-align: center;
}
body #wrapper h1{
    color: #fff;
    font-size: 40px;
    font-family: 'K2D', sans-serif;
    text-transform: capitalize;
}

body #wrapper input{
    border: 0;
    outline: 0;
    padding: 10px 40px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
#row{
    display: flex;
    justify-content: center;
    align-items:center;

}
#row h2,h3{
    color: #fff;
    font-size: 30px;
    font-family: 'K2D', sans-serif;
    margin:0 5px;
}